body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #007bff;
}

.navbar {
    background-color: #343a40;
}
.navbar {
    height: auto; /* 자동으로 높이를 설정 */
    padding: 0.5rem 1rem; /* 상하 0.5rem, 좌우 1rem 패딩 */
}
body {
    margin-top: 0; /* 상단 여백 제거 */
}

