// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
/* 기본 버튼 스타일 */
button, .btn {
  background-color: #3498db; /* 기본 배경색 */
  color: #fff; /* 기본 텍스트 색 */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease; /* 호버 시 부드러운 전환 효과 */
}

/* 마우스를 버튼 위에 올렸을 때의 스타일 */
button:hover, .btn:hover {
  background-color: #e74c3c; /* 호버 시 배경색 변경 */
  color: #ffffff; /* 텍스트 색상 변경 */
}

.article-style {
  text-align: justify;
}

.justify-text {
  text-align: justify;
}

// 페이지 전체 배경색 설정
body {
  background-color: #D3D3D3; /* 밝은 파스텔 블루 */
}

