<!-- layouts/_default/baseof.html -->
<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}  <!-- head.html 파일을 삽입 -->
<body>

  <!-- 네비게이션 바 추가 -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav flex-row">
        <li class="nav-item"><a class="nav-link" href="/">Introduction</a></li>
        <li class="nav-item"><a class="nav-link" href="/publication/">Certification</a></li>
        <li class="nav-item"><a class="nav-link" href="/event/">Award-winning</a></li>
        <li class="nav-item"><a class="nav-link" href="/post/">Technical Stack</a></li>
        <li class="nav-item"><a class="nav-link" href="experience/">Experience</a></li>
        <li class="nav-item"><a class="nav-link" href="projects/">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="teaching/">Teaching</a></li>
      </ul>
    </nav>
  </header>

  <!-- 페이지 콘텐츠 삽입 -->
  <main>
    {{ block "main" . }}{{ .Content }}{{ end }}
  </main>

  <!-- 푸터 -->
  <footer>
    <p>© {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.</p>
  </footer>

  <!-- Bootstrap JS 추가 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
